@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components {
  /* GAME PIECE */
  #correct {
    @apply bg-correct animate-flip-reveal
  }

  #almost {
    @apply bg-almost animate-flip-reveal
  }

  #error {
    @apply bg-error
  }

  #invalid {
    @apply animate-shake animate-twice animate-duration-[225ms] animate-delay-[50ms] animate-normal animate-fill-both
  }

  #initial {
    @apply bg-initial
  }

  /* KEYBOARD */
  .keyboard-row {
    @apply w-full min-w-full h-max flex flex-row content-center justify-center items-center justify-items-center text-center my-1 shrink-0
  }
  .keyboard-row:focus-visible {
    @apply outline-none
  }
  #big-key {
    @apply w-fit md:text-2xl grow-0 flex-none
  }
  #disabled-key {
    @apply bg-error
  }
}


body {
  color: #f8f8ff;
  background: linear-gradient(180deg, hsla(240, 14%, 10%, 1) 0%, rgb(37, 37, 37) 100%);
  user-select: none;
}

body:focus {
  outline: none;
}
body:focus-visible {
  outline: none;
}
